@import url("./something.css");






/* nav bar assign to Galal*/

.nav-bar{
    border-style: none none solid none;
    border-color: blue blue blue blue;
}

nav{
    display: block;
}

.items{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    font-size: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;

}

.nav-a{
    text-decoration: none;
}



/* footer assign Valeriya */
.foot {
  border-style: solid none none none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
}
